$white-50: hsl(60deg 100% 99%);
$surface-50: hsl(300deg 5% 91%);
$surface-100: hsl(312deg 4% 74%);
$surface-200: hsl(315deg 4% 61%);
$surface-300: hsl(310deg 6% 43%);
$surface-400: hsl(312deg 9% 32%);
$surface-500: hsl(310deg 24% 15%);
$primary-50: hsl(331deg 72% 94%);
$primary-100: hsl(332deg 73% 82%);
$primary-200: hsl(332deg 74% 74%);
$primary-300: hsl(332deg 74% 62%);
$primary-400: hsl(332deg 74% 55%);
$primary-500: hsl(332deg 97% 43%);
$primary-600: hsl(332deg 97% 39%);
$primary-700: hsl(332deg 97% 31%);
$primary-800: hsl(332deg 97% 24%);
$primary-900: hsl(331deg 98% 18%);
